# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Static collected
staticfiles/

# Vite build output
static/dist/
frontend/node_modules/

# Testa skripti
create_test_data.py
create_auctions.py
